<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- ANSI Color Codes -->
    <conversionRule conversionWord="clr"
                    class="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    class="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>

    <property name="GREY"  value="%clr(%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}){faint}"/>
    <property name="APP"   value="%clr([${springAppName:-app}]){cyan}"/>
    <property name="THREAD" value="%clr([%15.15t]){faint}"/>
    <property name="LOGGER" value="%clr(%-40.40logger{39}){cyan}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${GREY} ${APP} ${THREAD} %clr(%-5level){
                ERROR=bold_red,
                WARN=yellow,
                INFO=green,
                DEBUG=blue,
                TRACE=faint
                } %clr([traceId=%X{traceId:-NO_TRACE}]){magenta} %clr([spanId=%X{spanId:-NO_SPAN}]){yellow} ${LOGGER} : %msg%n%wex
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>